.oracle-card-container {
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 5px 18px 1px rgba(0, 0, 0, 0.6);

  height: 340px;
  width: 220px;
  margin-top: 28px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

  &-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  &-center {
    // display: block;
    // position: absolute;
    // margin: 0 auto;
    // translate: 0;
    // transition: all 1s;
  }

  &-fade-away {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 2s, opacity 2s;
  }
}

.oracle-card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 14px;
  mask-image: linear-gradient(to bottom,
    rgba(0,0,0.98), rgba(0,0,0,0.9), rgba(0,0,0,0.6), rgba(0,0,0,0.96), rgba(0,0,0,1)
  );

  &, &-front, &-back {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-front {
    background-color: white;
    transform: rotateY(180deg);
  }

  &-back {
    background-image: url('../lib/images/card_bg_pattern.png');
    cursor: pointer;
    object-fit: cover;
  }

  p {
    font-size: 16px;
    padding: 0 10px;
  }
}

.flower-image {
  background-color: rgba(256,256,256, 0.7);
  height: 150px;
  object-fit: contain;
  width: 150px;
}