.oracle-card-container {
  border-radius: 14px;
  margin-top: 28px;
  position: relative;
  height: 340px;
  width: 220px;
  overflow: visible;  
  
  &-center {
    // display: block;
    // position: absolute;
    // margin: 0 auto;
    // translate: 0;
    // transition: all 1s;
  }

  &-fade-away {
    transform: translateY(100%);
    opacity: 0;
    transition: all 2s;
  }
}

.oracle-card {
  border: 2px solid rgba(256,256,256, 0.2);
  box-shadow: 0 7px 10px 0px rgba(0, 0, 0, 0.7);

  perspective: 1000px;
  position: relative;
  transform-origin: center right;
  transform-style: preserve-3d;
  transition: transform 1s;

  &, &-front, &-back {
    border-radius: 14px;
    height: 100%;
    width: 100%;
  }

  &-front, &-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
  }

  &-container-flipped & {
    transform: translateX(-100%) rotateY(180deg);
  }

  &-container-unflipped &-front {
    display: none;
  }

  &-container-flipped &-front {
    display: inherit;
    transform: rotateY(180deg);
  }

  &-front {
    background-color: white;
  }

  &-back {
    background-image: url('../lib/images/card_bg_pattern.jpg');
    background-size: contain;
    cursor: pointer;
    z-index: 1;
  }

  p {
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }
}

.flower-image {
  background-color: rgba(256,256,256, 0.7);
  height: 150px;
  object-fit: contain;
  width: 150px;
}